@model WorldPayWeb.Models.CheckoutViewModel
@using WorldPayMvc.Models

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WorldPay MVC Helper</h1>
    <p class="lead">Easily add WorldPay submission form parameters to your MVC website</p>
</div>

<h1>Test Mode</h1>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @action = WorldPayUrls.Test })) {

    @(Html.WorldPay(@Model.InstallationId, @Model.CartId, @Model.Total.ToString(), @Model.CurrencyCode)
        .TestMode()
        .Address(@Model.Address1, @Model.Address2, @Model.Address3, @Model.Town, @Model.County, @Model.PostCode, CountryCode.GB)
        .Email(@Model.Email)
        .Name(@Model.Name)
        .Phones(@Model.Telephone))

    <div class="form-group">
        <button class="btn btn-success btn-lg" type="submit">WorldPay Test Checkout</button>
    </div>

}

<hr />

<h1>Live Mode</h1>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @action = WorldPayUrls.Live })) {

    @(Html.WorldPay(@Model.InstallationId, @Model.CartId, @Model.Total.ToString(), @Model.CurrencyCode)
        .Address(@Model.Address1, @Model.Address2, @Model.Address3, @Model.Town, @Model.County, @Model.PostCode, CountryCode.GB)
        .Email(@Model.Email)
        .Name(@Model.Name)
        .Phones(@Model.Telephone))

    <div class="form-group">
        <button class="btn btn-success btn-lg" type="submit">WorldPay Live Checkout</button>
    </div>

}

<hr />

<h1>Custom Properties <small>(Test Mode)</small></h1>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @action = WorldPayUrls.Test })) {

    @(Html.WorldPay(@Model.InstallationId, @Model.CartId, @Model.Total.ToString(), @Model.CurrencyCode)
        .TestMode()
        .Address(@Model.Address1, @Model.Address2, @Model.Address3, @Model.Town, @Model.County, @Model.PostCode, CountryCode.GB)
        .Email(@Model.Email)
        .Name(@Model.Name)
        .Phones(@Model.Telephone)
        .Add("accId1", "MERCHANTCODE2")
        .Add("MC_SHOPPINGCARTID", Guid.NewGuid().ToString())
        .Add("MC_CUSTOMERREFERENCE", "My Purchase Order")
        .Add("MC_CUSTOMERID", Guid.NewGuid().ToString()))

    <div class="form-group">
        <button class="btn btn-success btn-lg" type="submit">WorldPay Test Checkout</button>
    </div>

}

